main {
	background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner {
  font-size: 20px;
  color: white;
  width: 100%;
  background-color: rgb(25, 152, 162);
  padding-top: 30px;
}