/* Global styles */
html, input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type=text] {
  background-color: transparent;
  flex: 1 500px;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
  box-shadow: none;
  max-width: 500px;
  margin: 0 32px;
  padding: 0 12px;
}

button {
  background-color: #1998a2;
  border: 1px solid white;
  color: white;
  padding: 5px 50px;
  letter-spacing: 2px;
  line-height: 1.42;
}

a {
  color: white;
  margin-right:  10px;
  border-bottom: white 1px solid;
  text-decoration: none;
  cursor: pointer;
}